<br  />
<div class="jumbotron">
  <h1>Ever See It?</h1>
  <p>
    A resource for finding, discussing, and sharing links with your friends!
  </p>
  <p>
    <%=link_to "Sign In" %> or
    <%= link_to "Sign Up", class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Solves the Boredom Crisis of Today!</h2>
    <p>
      Ever See It? has a unique Boredom Prevention Plan!
    </p>
  </div>
  <div class="col-md-4">
    <h2>Eliminates Real Life Social Interaction!</h2>
    <p>
      Ever See It? satisfies your inner Political Animal while preventing all actual social interaction!
    </p>
  </div>
  <div class="col-md-4">
    <h2>Makes you a better person!</h2>
    <p>
      Ever See It? provides your daily dose of social and political interactions! Stay up to date with the world (but mostly your friends)!
    </p>
  </div>
</div>
