<div class="row">
  <div class="col-md-8">
    <% @posts.each do |post| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to post.title, post %>
          </h4>
          <small>
            <%= post.body %>
          </small>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <%=link_to "New Post", new_post_path, class: 'btn btn-success' %>
  </div>
</div>
